@page
@model GitHubModel
@{
    ViewData["Title"] = "GitHub Projects";
}

<h1>@ViewData["Title"]</h1>

<p>This tab contains some links to GitHub projects that I have done over the years. As well as a brief description of each project.</p>

<p>Insert Links and description or something HERE. Current flow is oldest to newest</p>
<body>
    @*Python scrips box *@
    <div class="container pt-2">
        <div class="row ">
            <div class="col-sm-4" style="border: 1px solid;">
                <div style="min-height: 200px; word-wrap: normal " id="1">
                    Picture for Project 1. Like a really sweet picture. You have no idea. Its going to be really good.
                </div>
            </div>
            <div class="col-sm-8" style=" border: 1px solid;">
                <div style="min-height: 200px; word-wrap: normal " id="1">
                    <b>ColinScripts Python</b>.Some brief info about this repo. description for Project 1. Like a really sweet description. You have no idea.
                    Its going to be really good. I swear. Adding more words here.To see if the box will expand. or just break.
                    Also need to see if it will over flow into the next line. But what if I keep going. Then what will happen to the text.
                    Itll probably just break, lol. Now im going to add even more word to test if this is even working or not. Because i dont know web design.
                    Explaining why it is so great<br />LINK to repo will go here
                </div>
            </div>
        </div>
    </div>

    @*AutoHotKey scrips box *@
    <div class="container pt-2">
        <div class="row">
            <div class="col-sm-4" style="border: 1px solid;">
                <div style=" min-height: 200px; word-wrap: normal " id="1">
                    Picture for Project 2. Like a really sweet picture. You have no idea. Its going to be really good.
                </div>
            </div>
            <div class="col-sm-8" style=" border: 1px solid;">
                <div style=" min-height: 200px; word-wrap: normal " id="1">
                    <b>ColinScripts AutoHotKey</b>.Some brief info about this repo. description for Project 1. Like a really sweet description. You have no idea.
                    Its going to be really good. I swear. Adding more words here.To see if the box will expand. or just break.
                    Also need to see if it will over flow into the next line. But what if I keep going. Then what will happen to the text.
                    Itll probably just break, lol. Now im going to add even more word to test if this is even working or not. Because i dont know web design.
                    Explaining why it is so great<br />LINK to repo will go here
                </div>
            </div>
        </div>
    </div>

    @*Powershell scrips box *@
    <div class="container pt-2">
        <div class="row">
            <div class="col-sm-4" style="border: 1px solid;">
                <div style=" min-height: 200px; word-wrap: normal " id="1">
                    Picture for Project 2. Like a really sweet picture. You have no idea. Its going to be really good.
                </div>
            </div>
            <div class="col-sm-8" style=" border: 1px solid;">
                <div style=" min-height: 200px; word-wrap: normal " id="1">
                    <b>ColinScripts Powershell</b>.Some brief info about this repo. description for Project 1. Like a really sweet description. You have no idea.
                    Its going to be really good. I swear. Adding more words here.To see if the box will expand. or just break.
                    Also need to see if it will over flow into the next line. But what if I keep going. Then what will happen to the text.
                    Itll probably just break, lol. Now im going to add even more word to test if this is even working or not. Because i dont know web design.
                    Explaining why it is so great<br />LINK to repo will go here
                </div>
            </div>
        </div>
    </div>

    @*ConvertingTime box *@
    <div class="container pt-2">
        <div class="row">
            <div class="col-sm-4" style="border: 1px solid;">
                <div style=" min-height: 200px; word-wrap: normal " id="1">
                    Picture for Project 2. Like a really sweet picture. You have no idea. Its going to be really good.
                </div>
            </div>
            <div class="col-sm-8" style=" border: 1px solid;">
                <div style=" min-height: 200px; word-wrap: normal " id="1">
                    <b>ConvertingTime console app</b>.Some brief info about this repo. description for Project 1. Like a really sweet description. You have no idea.
                    Its going to be really good. I swear. Adding more words here.To see if the box will expand. or just break.
                    Also need to see if it will over flow into the next line. But what if I keep going. Then what will happen to the text.
                    Itll probably just break, lol. Now im going to add even more word to test if this is even working or not. Because i dont know web design.
                    Explaining why it is so great<br />LINK to repo will go here
                </div>
            </div>
        </div>
    </div>

    @*BackupMusic box *@
    <div class="container pt-2">
        <div class="row">
            <div class="col-sm-4" style="border: 1px solid;">
                <div style=" min-height: 200px; word-wrap: normal " id="1">
                    Picture for Project 2. Like a really sweet picture. You have no idea. Its going to be really good.
                </div>
            </div>
            <div class="col-sm-8" style=" border: 1px solid;">
                <div style=" min-height: 200px; word-wrap: normal " id="1">
                    <b>BackupMusic console app</b>.Some brief info about this repo. description for Project 1. Like a really sweet description. You have no idea.
                    Its going to be really good. I swear. Adding more words here.To see if the box will expand. or just break.
                    Also need to see if it will over flow into the next line. But what if I keep going. Then what will happen to the text.
                    Itll probably just break, lol. Now im going to add even more word to test if this is even working or not. Because i dont know web design.
                    Explaining why it is so great<br />LINK to repo will go here
                </div>
            </div>
        </div>
    </div>

    @*Function SpotifyDiscoverWeekly box *@
    <div class="container pt-2">
        <div class="row">
            <div class="col-sm-4" style="border: 1px solid;">
                <div style=" min-height: 200px; word-wrap: normal " id="1">
                    Picture for Project 2. Like a really sweet picture. You have no idea. Its going to be really good.
                </div>
            </div>
            <div class="col-sm-8" style=" border: 1px solid;">
                <div style=" min-height: 200px; word-wrap: normal " id="1">
                    <b>Function SpotifyDiscoverWeekly</b>.Some brief info about this repo. description for Project 1. Like a really sweet description. You have no idea.
                    Its going to be really good. I swear. Adding more words here.To see if the box will expand. or just break.
                    Also need to see if it will over flow into the next line. But what if I keep going. Then what will happen to the text.
                    Itll probably just break, lol. Now im going to add even more word to test if this is even working or not. Because i dont know web design.
                    Explaining why it is so great<br />LINK to repo will go here
                </div>
            </div>
        </div>
    </div>

    @*Function RedditTopWeekly box *@
    <div class="container pt-2">
        <div class="row">
            <div class="col-sm-4" style="border: 1px solid;">
                <div style=" min-height: 200px; word-wrap: normal " id="1">
                    Picture for Project 2. Like a really sweet picture. You have no idea. Its going to be really good.
                </div>
            </div>
            <div class="col-sm-8" style=" border: 1px solid;">
                <div style=" min-height: 200px; word-wrap: normal " id="1">
                    <b>Function RedditTopWeekly</b>.Some brief info about this repo. description for Project 1. Like a really sweet description. You have no idea.
                    Its going to be really good. I swear. Adding more words here.To see if the box will expand. or just break.
                    Also need to see if it will over flow into the next line. But what if I keep going. Then what will happen to the text.
                    Itll probably just break, lol. Now im going to add even more word to test if this is even working or not. Because i dont know web design.
                    Explaining why it is so great<br />LINK to repo will go here
                </div>
            </div>
        </div>
    </div>

    @*API MonthlyData box *@
    <div class="container pt-2">
        <div class="row">
            <div class="col-sm-4" style="border: 1px solid;">
                <div style=" min-height: 200px; word-wrap: normal " id="1">
                    Picture for Project 2. Like a really sweet picture. You have no idea. Its going to be really good.
                </div>
            </div>
            <div class="col-sm-8" style=" border: 1px solid;">
                <div style=" min-height: 200px; word-wrap: normal " id="1">
                    <b>API MonthlyData</b>.Some brief info about this repo. description for Project 1. Like a really sweet description. You have no idea.
                    Its going to be really good. I swear. Adding more words here.To see if the box will expand. or just break.
                    Also need to see if it will over flow into the next line. But what if I keep going. Then what will happen to the text.
                    Itll probably just break, lol. Now im going to add even more word to test if this is even working or not. Because i dont know web design.
                    Explaining why it is so great<br />LINK to repo will go here
                </div>
            </div>
        </div>
    </div>

    @*Website PersonalWebsite box *@
    <div class="container pt-2">
        <div class="row">
            <div class="col-sm-4" style="border: 1px solid;">
                <div style=" min-height: 200px; word-wrap: normal " id="1">
                    Picture for Project 2. Like a really sweet picture. You have no idea. Its going to be really good.
                </div>
            </div>
            <div class="col-sm-8" style=" border: 1px solid;">
                <div style=" min-height: 200px; word-wrap: normal " id="1">
                    <b>Website PersonalWebsite</b>.Some brief info about this repo. description for Project 1. Like a really sweet description. You have no idea.
                    Its going to be really good. I swear. Adding more words here.To see if the box will expand. or just break.
                    Also need to see if it will over flow into the next line. But what if I keep going. Then what will happen to the text.
                    Itll probably just break, lol. Now im going to add even more word to test if this is even working or not. Because i dont know web design.
                    Explaining why it is so great<br />LINK to repo will go here
                </div>
            </div>
        </div>
    </div>

    <div style="width: 35%; float: left; min-height: 100px " id="1"></div>
    <div style="width: 35%; float: left; min-height: 100px " id="1"></div>
</body>
@*//min-height: 200px  || min-height: 20vh; max-height: 25vh;
    width: 35%; float: left; min-height: 200px*@
