@page
@model GitHubModel
@{
    ViewData["Title"] = "GitHub Projects";
}

<h1>@ViewData["Title"]</h1>

<p>This tab contains some links to GitHub projects that I have done over the years. As well as a brief description of each project.</p>

<p>
    You can view all the public repositories in my GitHub by <a href="https://github.com/ckern-py?tab=repositories">clicking here</a>, or feel free to click the individual links for each project to go directly to them.
</p>
<body>
    @*Python scrips box *@
    <div class="container pt-2">
        <div class="row ">
            <div class="col-sm-4" style="border: 1px solid;">
                <div style="min-height: 200px; word-wrap: normal " id="1">
                    Picture coming soon. Like a really sweet picture. You have no idea. Its going to be really good.
                    <br /><b>Black and white Python logo?</b>
                </div>
            </div>
            <div class="col-sm-8" style=" border: 1px solid;">
                <div style="min-height: 200px; word-wrap: normal " id="1">
                    <b>ColinScripts - Python</b>.<br />Python was one of the first programming languages that I learned. 
                    I still occasionally use python for some home projects, such as on my Raspberry Pi and personal computer. The Python folder is 
                    broken down in to three sub folders, IT Service Desk, Utility, and Raspberry Pi. Each containing relevant scripts.
                    <br /><b>Link to the repo:</b><br /><a href="https://github.com/ckern-py/ColinScripts/tree/main/Python">https://github.com/ckern-py/ColinScripts/tree/main/Python</a>
                </div>
            </div>
        </div>
    </div>

    @*AutoHotKey scrips box *@
    <div class="container pt-2">
        <div class="row">
            <div class="col-sm-4" style="border: 1px solid;">
                <div style=" min-height: 200px; word-wrap: normal " id="1">
                    Picture coming soon. Like a really sweet picture. You have no idea. Its going to be really good.
                    <br /><b>Black and white AHK logo?</b>
                </div>
            </div>
            <div class="col-sm-8" style=" border: 1px solid;">
                <div style=" min-height: 200px; word-wrap: normal " id="1">
                    <b>ColinScripts - AutoHotKey</b>.<br />All my AutoHotKey scripts come from when I was working on the IT Service Desk.
                    The main script here is the ITSDUtil. A friend and I were able to build a toolbar for everyone on the IT Service Desk to use. 
                    This toolbar provided most of the information you regularly need, right at your finger tips. Everything from finding solutions 
                    to common problems, to unlocking accounts and changing passwords. Making all this information easily available helped to 
                    reduce call times and improve productivity across the IT Service Desk.
                    <br /><b>Link to the repo:</b><br /><a href="https://github.com/ckern-py/ColinScripts/tree/main/AutoHotKey">https://github.com/ckern-py/ColinScripts/tree/main/AutoHotKey</a>
                </div>
            </div>
        </div>
    </div>

    @*Powershell scrips box *@
    <div class="container pt-2">
        <div class="row">
            <div class="col-sm-4" style="border: 1px solid;">
                <div style=" min-height: 200px; word-wrap: normal " id="1">
                    Picture coming soon. Like a really sweet picture. You have no idea. Its going to be really good.
                    <br /><b>Black and white Powershell logo?</b>
                </div>
            </div>
            <div class="col-sm-8" style=" border: 1px solid;">
                <div style=" min-height: 200px; word-wrap: normal " id="1">
                    <b>ColinScripts - Powershell</b>.<br />All of my Powershell scripts also come from when I was working on the IT Service
                    Desk. Most of the scrips here either interacted with the ITSTUtil.ahk or have a utility use. These scripts allowed the 
                    ITSDUtil to seamlessly interact with Active Directory. The abillity to get account information and change account information
                    all in one place saved time for all IT Service Desk agents.
                    <br /><b>Link to the repo:</b><br /><a href="https://github.com/ckern-py/ColinScripts/tree/main/Powershell">https://github.com/ckern-py/ColinScripts/tree/main/Powershell</a>
                </div>
            </div>
        </div>
    </div>

    @*ConvertingTime box *@
    <div class="container pt-2">
        <div class="row">
            <div class="col-sm-4" style="border: 1px solid;">
                <div style=" min-height: 200px; word-wrap: normal " id="1">
                    Picture coming soon. Like a really sweet picture. You have no idea. Its going to be really good.
                    <br /><b>Black and white Clock ?</b>
                </div>
            </div>
            <div class="col-sm-8" style=" border: 1px solid;">
                <div style=" min-height: 200px; word-wrap: normal " id="1">
                    <b>ConvertingTime</b>.<br />This repo contains a console app I created that will help you convert time. You enter a number 
                    into the GUI, select the unit that you would like your input to be in, and then select the unit you would like the output 
                    to be in. When calculating you'll have two options. You can choose Calculate or Advanced Calculate. Calculate will return 
                    the answer as a decimal of the output unit. Advanced calculate will break down the answer into time units so you can see 
                    exactly how many hours, minutes, seconds, etc. it will be.
                    <br /><b>Link to the repo:</b><br /><a href="https://github.com/ckern-py/ConvertingTime">https://github.com/ckern-py/ConvertingTime</a>
                </div>
            </div>
        </div>
    </div>

    @*BackupMusic box *@
    <div class="container pt-2">
        <div class="row">
            <div class="col-sm-4" style="border: 1px solid;">
                <div style=" min-height: 200px; word-wrap: normal " id="1">
                    Picture coming soon. Like a really sweet picture. You have no idea. Its going to be really good.
                    <br /><b>Black and white music note?</b>
                </div>
            </div>
            <div class="col-sm-8" style=" border: 1px solid;">
                <div style=" min-height: 200px; word-wrap: normal " id="1">
                    <b>BackupMusic console app</b>.<br />Some brief info about this repo. description for Project 1. Like a really sweet description. You have no idea.
                    Its going to be really good. I swear. Adding more words here.To see if the box will expand. or just break.
                    Also need to see if it will over flow into the next line. But what if I keep going. Then what will happen to the text.
                    Itll probably just break, lol. Now im going to add even more word to test if this is even working or not. Because i dont know web design.
                    Explaining why it is so great.
                    <br /><b>Link to the repo:</b><br /><a href="https://github.com/ckern-py/BackupMusic">https://github.com/ckern-py/BackupMusic</a>
                </div>
            </div>
        </div>
    </div>

    @*Function SpotifyDiscoverWeekly box *@
    <div class="container pt-2">
        <div class="row">
            <div class="col-sm-4" style="border: 1px solid;">
                <div style=" min-height: 200px; word-wrap: normal " id="1">
                    Picture coming soon. Like a really sweet picture. You have no idea. Its going to be really good.
                    <br /><b>Black and white Spotify logo?</b>
                </div>
            </div>
            <div class="col-sm-8" style=" border: 1px solid;">
                <div style=" min-height: 200px; word-wrap: normal " id="1">
                    <b>Function SpotifyDiscoverWeekly</b>.<br />Some brief info about this repo. description for Project 1. Like a really sweet description. You have no idea.
                    Its going to be really good. I swear. Adding more words here.To see if the box will expand. or just break.
                    Also need to see if it will over flow into the next line. But what if I keep going. Then what will happen to the text.
                    Itll probably just break, lol. Now im going to add even more word to test if this is even working or not. Because i dont know web design.
                    Explaining why it is so great.
                    <br /><b>Link to the repo:</b><br /><a href="https://github.com/ckern-py/Function_SpotifyDiscoverWeekly">https://github.com/ckern-py/Function_SpotifyDiscoverWeekly</a>
                </div>
            </div>
        </div>
    </div>

    @*Function RedditTopWeekly box *@
    <div class="container pt-2">
        <div class="row">
            <div class="col-sm-4" style="border: 1px solid;">
                <div style=" min-height: 200px; word-wrap: normal " id="1">
                    Picture coming soon. Like a really sweet picture. You have no idea. Its going to be really good.
                    <br /><b>Black and white Reddit logo?</b>
                </div>
            </div>
            <div class="col-sm-8" style=" border: 1px solid;">
                <div style=" min-height: 200px; word-wrap: normal " id="1">
                    <b>Function RedditTopWeekly</b>.<br />Some brief info about this repo. description for Project 1. Like a really sweet description. You have no idea.
                    Its going to be really good. I swear. Adding more words here.To see if the box will expand. or just break.
                    Also need to see if it will over flow into the next line. But what if I keep going. Then what will happen to the text.
                    Itll probably just break, lol. Now im going to add even more word to test if this is even working or not. Because i dont know web design.
                    Explaining why it is so great.
                    <br /><b>Link to the repo:</b><br /><a href="https://github.com/ckern-py/Function_RedditTopWeekly">https://github.com/ckern-py/Function_RedditTopWeekly</a>
                </div>
            </div>
        </div>
    </div>

    @*API MonthlyData box *@
    <div class="container pt-2">
        <div class="row">
            <div class="col-sm-4" style="border: 1px solid;">
                <div style=" min-height: 200px; word-wrap: normal " id="1">
                    Picture coming soon. Like a really sweet picture. You have no idea. Its going to be really good.
                    <br /><b>Black and white API logo? Data logo?</b>
                </div>
            </div>
            <div class="col-sm-8" style=" border: 1px solid;">
                <div style=" min-height: 200px; word-wrap: normal " id="1">
                    <b>API MonthlyData</b>.<br />Some brief info about this repo. description for Project 1. Like a really sweet description. You have no idea.
                    Its going to be really good. I swear. Adding more words here.To see if the box will expand. or just break.
                    Also need to see if it will over flow into the next line. But what if I keep going. Then what will happen to the text.
                    Itll probably just break, lol. Now im going to add even more word to test if this is even working or not. Because i dont know web design.
                    Explaining why it is so great.
                    <br /><b>Link to the repo:</b><br /><a href="https://github.com/ckern-py/API_MonthlyData">https://github.com/ckern-py/API_MonthlyData</a>
                </div>
            </div>
        </div>
    </div>

    @*Website PersonalWebsite box *@
    <div class="container pt-2">
        <div class="row">
            <div class="col-sm-4" style="border: 1px solid;">
                <div style=" min-height: 200px; word-wrap: normal " id="1">
                    Picture coming soon. Like a really sweet picture. You have no idea. Its going to be really good.
                    <br /><b>Black and white website logo? My logo?</b>
                </div>
            </div>
            <div class="col-sm-8" style=" border: 1px solid;">
                <div style=" min-height: 200px; word-wrap: normal " id="1">
                    <b>Website PersonalWebsite</b>.<br />Some brief info about this repo. description for Project 1. Like a really sweet description. You have no idea.
                    Its going to be really good. I swear. Adding more words here.To see if the box will expand. or just break.
                    Also need to see if it will over flow into the next line. But what if I keep going. Then what will happen to the text.
                    Itll probably just break, lol. Now im going to add even more word to test if this is even working or not. Because i dont know web design.
                    Explaining why it is so great.
                    <br /><b>Link to the repo:</b><br /><a href="LINK">Coming Soon</a>
                </div>
            </div>
        </div>
    </div>

    <div style="width: 35%; float: left; min-height: 100px " id="1"></div>
    <div style="width: 35%; float: left; min-height: 100px " id="1"></div>
</body>
