@page
@model GitHubModel
@{
    ViewData["Title"] = "GitHub Projects";
}
<h1>@ViewData["Title"]</h1>

<p>This tab contains some links to GitHub projects that I have done over the years. As well as a breif description of each project.</p>

<p>Insert Links and description or something HERE.</p>
<body>
    <div style="border: 1px solid; width: 35%; float: left; min-height: 20vh " id="1">Picture for Project 1</div>
    <div style="border: 1px solid; width: 35%; float: left; min-height: 20vh " id="1">Description of Project 1 with LINK</div>

    <div style="border: 1px solid; width: 35%; float: left; min-height: 20vh " id="1">Picture for Project 2</div>
    <div style="border: 1px solid; width: 35%; float: left; min-height: 20vh " id="1">Description of Project 2 with LINK</div>

    <div style="border: 1px solid; width: 35%; float: left; min-height: 20vh " id="1">Picture for Project 3</div>
    <div style="border: 1px solid; width: 35%; float: left; min-height: 20vh " id="1">Description of Project 3 with LINK</div>

    <div style="border: 1px solid; width: 35%; float: left; min-height: 20vh " id="1">Picture for Project 4</div>
    <div style="border: 1px solid; width: 35%; float: left; min-height: 20vh " id="1">Description of Project 4 with LINK</div>

    <div style="border: 1px solid; width: 35%; float: left; min-height: 20vh " id="1">Picture for Project 5</div>
    <div style="border: 1px solid; width: 35%; float: left; min-height: 20vh " id="1">Description of Project 5 with LINK</div>

    <div style="border: 1px solid; width: 35%; float: left; min-height: 20vh " id="1">Picture for Project 6</div>
    <div style="border: 1px solid; width: 35%; float: left; min-height: 20vh " id="1">Description of Project 6 with LINK</div>

    <div style="border: 1px solid; width: 35%; float: left; min-height: 20vh " id="1">Picture for Project 7</div>
    <div style="border: 1px solid; width: 35%; float: left; min-height: 20vh " id="1">Description of Project 7 with LINK</div>

    <div style="width: 35%; float: left; min-height: 100px " id="1"></div>
    <div style="width: 35%; float: left; min-height: 100px " id="1"></div>
</body>
@*//min-height: 200px*@

@*<body>
        <div class="divTable" style="border: 1px solid;">
            <div class="divTableBody">
                <div class="divTableRow">
                    <div class="divTableCell">&nbsp;</div>
                    <div class="divTableCell">&nbsp;</div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">&nbsp;</div>
                    <div class="divTableCell">&nbsp;</div>
                </div>
            </div>
        </div>
    </body>*@