@page
@model GitHubModel
@{
    ViewData["Title"] = "GitHub Projects";
}
<h1>@ViewData["Title"]</h1>

<p>Here are some links to GitHub projects that I have done over the years.</p>

<p>Insert Links  and description or something HERE.</p>