@page
@model GitHubModel
@{
    ViewData["Title"] = "GitHub Projects";
}
<h1>@ViewData["Title"]</h1>

<p>This tab contains some links to GitHub projects that I have done over the years. As well as a breif description of each project.</p>

<p>Insert Links and description or something HERE.</p>