@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{int programYears = DateTime.Now.Year - 2019;}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Hello, and welcome to my website that I have built from the ground up using C# and Razor Pages.
    </p>
    </div>
<div class="text-left">
    <p>
        My name is Colin Kern. I have been working as a programer for the past @programYears years.<br />
        I started out writing scritps work working Tech Support.<br /> You can check out my scripts and other projects I've worked on by visiting my GitHub Projects page, <a asp-page="/GitHub">or clicking here</a>. <br />
        My scripts consist of 3 primary languages, Python, Powershell, and AutoHotKey. The other projects are written in C#.
    </p>
    <p>
        I am most experienced in .NET languages (C# and Visual Basic) but also have projects in Python and Powershell, as shown in the scripts above.
    </p>
    <p>
        I graduated from Iowa State University in Ames, Iowa in May 2017 with a Bachelors of Science degree in Management Information Systems (MIS).
    </p>
    <p>
        This website has GitHub links to some of the projects that I've done over the years.
    </p>

</div>
